<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/styles/home.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Aboreto&family=Abril+Fatface&display=swap"
	rel="stylesheet">
<title>home</title>
</head>
<body>
	<div th:replace="header :: header"></div>
	<div id=title_div>
		<h4 th:text="'Welcome back, ' + ${user.firstName + '.'}"></h4>
	</div>
	<div id="cards">
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col">
				<div class="card text-bg-dark mb-3 border-light h-100">
					<img src="https://www.computerhope.com/jargon/g/guest-user.png"
						class="card-img-top" alt="profile-pic" id="profile-pic">
					<div class="card-body">
						<h5 id="user-name" class="card-title">User Profile</h5>
						<p class="card-text">
							<a href="profile.html">Update</a>
						</p>
					</div>
					<table id="profile-table"
						class="table table-light table-striped table-hover">
						<thead>
						</thead>
						<tbody id="profile-table-body">
							<tr>
								<td>FIRST NAME</td>
								<td th:text="${user.firstName}"></td>
							</tr>
							<tr>
								<td>LAST NAME</td>
								<td th:text="${user.lastName}"></td>
							</tr>
							<tr>
								<td>EMAIL</td>
								<td th:text="${user.email}"></td>
							</tr>
							<tr>
								<td>AGE</td>
								<td th:text="${age}"></td>
							</tr>
							<tr>
								<td>OCCUPATION</td>
								<td th:text="${user.occupation}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col">
				<div class="card text-bg-dark mb-3 border-light h-100">
					<img src="https://i.imgur.com/8Ay4LZR.png" class="card-img-top"
						alt="accounts-pic" id="accounts-pic">
					<div class="card-body">
						<h5 id="user-name" class="card-title">Financial Accounts</h5>
						<p class="card-text">
							<a href="">Go to accounts</a>
						</p>
					</div>
					<table id="accounts-table"
						class="table table-light table-striped table-hover">
						<thead>
						</thead>
						<tbody id="accounts-table-body">
							<tr th:each="account : ${accountsList}">
								<td th:text="${account.name}"></td>
								<!-- Access account name from 'name' key -->
								<td th:text="'$' + ${account.amount}"></td>
								<!-- Access amount from 'amount' key -->
							</tr>
							<tr>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>TOTAL</td>
								<td th:text="'$' + ${totalAmount}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col">
				<div class="card text-bg-dark mb-3 border-light h-100">
					<img src="https://i.imgur.com/o72IwZL.png" class="card-img-top"
						alt="assets-pic" id="assets-pic">
					<div class="card-body">
						<h5 class="card-title">Asset Type Allocation</h5>
						<p class="card-text">
							<a href="asset.html">Go to assets</a>
						</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item" id="username">CASH:
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.20%</li>
						<li class="list-group-item" id="dob">STOCKS:
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							61.50%</li>
						<li class="list-group-item" id="dob">BONDS:
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							10.00%</li>
						<li class="list-group-item" id="occupation">CRYPTO:
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							2.20%</li>
						<li class="list-group-item" id="address">REAL ESTATE:
							&nbsp;&nbsp;&nbsp;31.20%</li>
						<li class="list-group-item" id="email">COLLECTIBLES: 1.00%</li>
					</ul>
				</div>
			</div>
			<div class="col">
				<div class="card text-bg-dark mb-3 border-light h-100">
					<img
						src="https://www.nerdwallet.com/assets/blog/wp-content/uploads/2019/06/credit-score-ranges-600x450.png"
						class="card-img-top" alt="assets-pic" id="credit-score-pic">

					<div class="card-body">
						<h5 class="card-title"
							th:text="'Your Credit Score: ' + ${user.creditScore}"></h5>
						<p class="card-text">
							<a
								href="https://www.nerdwallet.com/article/finance/raise-credit-score-fast"
								target="_blank">Ways to improve your credit score</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card text-bg-dark mb-3 border-light h-100">
					<div
						style="width: 100%; height: 0; padding-bottom: 100%; position: relative;">
						<iframe src="https://giphy.com/embed/lXiRLb0xFzmreM8k8"
							width="100%" height="100%" style="position: absolute"
							frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
					</div>
					<div class="card-body">
						<h5 class="card-title">Latest News in Finance</h5>
						<p class="card-text">
							<a href="https://www.bloomberg.com/" target="_blank">Go to
								top stories</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card text-bg-dark mb-3 border-light h-100">
					<div
						style="width: 100%; height: 0; padding-bottom: 100%; position: relative;">
						<iframe width="100%" height="100%" style="position: absolute"
							src="https://www.youtube.com/embed/iQ6u4tCi4cY"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
					</div>
					<div class="card-body">
						<h5 class="card-title">Featured Video</h5>
						<p class="card-text">
							<a href="https://www.youtube.com/watch?v=iQ6u4tCi4cY"
								target="_blank">Living on $210K A Year in NYC</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- 	<script type="text/javascript" th:src="@{/scripts/userAccount.js}"></script> -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
</body>
</html>