<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/styles/userAsset.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Aboreto&family=Abril+Fatface&display=swap"
	rel="stylesheet">
<title>User Assets and Amounts</title>
</head>
<body>
	<div th:replace="header :: header"></div>
	<div id=title_div>
		<h4>Assets Overview</h4>
	</div>
	<div id="table_div">
		<div class="row row-cols-1 row-cols-md-1 g-4">
			<div class="col">
				<div id="each_card"
					class="card text-bg-dark mb-3 border-light h-100">
					<table id="table"
						class="table table-light table-striped table-hover">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Asset Name</th>
								<th scope="col">Allocation</th>
								<th scope="col">Amount</th>
							</tr>
						</thead>
						<tbody id="assets-table-body">
						</tbody>
					</table>
					<div id="table_card-body" class="card-body"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="other_cards">
		<div class="row row-cols-1 row-cols-md-2 g-4">
			<div class="col">
				<div class="card text-bg-dark mb-3 border-light h-100">
					<div id="assets_list_card_body" class="card-body">
						<div class="mb-3">
							<p>Manage Assets</p>
						</div>
						<div class="col-auto">
							<table id="assets_list_table"
								class="table table-light table-striped table-hover">
								<tbody>
									<tr th:each="asset : ${userAssets}">
										<td th:text="${asset.name}"></td>
										<td th:text="${asset.user.id}"></td>
										<td>
											<form
												th:action="@{/users/{userId}/assets/{id}(id=${asset.id})}"
												method="POST">
												<input type="hidden" name="_method" value="DELETE" /> <input
													type="hidden" name="userId" th:value="${asset.user.id}" />
												<button class="btn btn-danger btn-sm" type="submit">Delete</button>
											</form>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card text-bg-dark mb-3 border-light h-100">
					<div class="card-body">
						<!-- 					{userId} in action gets its value from input value with name="userId" -->
						<form method="POST" th:object="${asset}" id="assetForm"
							th:action="@{/users/${userId}/assets/post(userId=${id})}">
							<div class="mb-3">
								<input type="hidden" id="userIdAsset" name="userId" th:value="${id}" />
								<label for="name" class="form-label">Create New Asset</label> <input
									type="text" class="form-control" id="name" name="name"
									th:field="*{name}" placeholder="Asset Name">
							</div>
							<div th:text="${id}"></div>
							<div class="col-auto">
								<button type="submit" value="Create"
									class="btn btn-primary mb-3">Create</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 	script to load jQuery to perform AJAX requests -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" th:src="@{/scripts/userAsset.js}"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
</body>
</html>
