@charset "UTF-8";

body {
	background-color: #6c6c6c;
	color: white;
	font-family: 'Aboreto', cursive;
	font-family: 'Abril Fatface', cursive;
}

#table_div {
	width: 80%;
	margin: 1% auto 3% auto;
}

#title_div {
	display: flex;
	justify-content: center;
	margin: 30px auto;
}

#table_card-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px !important;
	margin: 0px 15% 0px 70%;
}

#table_card_body_total_text {
	margin: 0% 0% 17px 0%;
}

#table_card_body_total_value {
	margin-right: 12%;
}

#other_cards {
	width: 80%;
	margin: 1% auto;
}

/* #accounts_list_card_body {
	padding: 0%;
} */